services:
    mosquitto:
        image: eclipse-mosquitto
        container_name: ${CONTAINER_PREFIX}_mosquitto
        restart: always
        ports:
            - "1883:1883"
        volumes:
            - ./mosquitto/config:/mosquitto/config
            - ./mosquitto/data:/mosquitto/data
            - ./mosquitto/log:/mosquitto/log
        networks:
            - backend
            
    influxdb:
        build: ./influxdb
        container_name: ${CONTAINER_PREFIX}_influxdb
        ports:
            - "${INFLUXDB_PORT}:${INFLUXDB_PORT}"
        volumes:
            - /var/lib/influxdb:/var/lib/influxdb
        restart: always
        env_file:
            - .env
        networks:
            - backend
            - frontend

    telegraf:
        build: ./telegraf
        container_name: ${CONTAINER_PREFIX}_telegraf
        links:
            - influxdb
            - mosquitto
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - /proc:/hostfs/proc
        privileged: true
        restart: always
        env_file:
            - .env
        networks: 
            - backend
            
    grafana:
        build: ./grafana
        container_name: ${CONTAINER_PREFIX}_grafana
        ports: 
            - "${GRAFANA_PORT}:${GRAFANA_PORT}"
        links:
            - influxdb
        volumes:
            - /var/lib/grafana
            - /var/log/grafana
            - /var/lib/grafana/plugins
        restart: always
        env_file:
            - .env
        networks:
            - frontend

    parser:
        build: ./parser
        container_name: ${CONTAINER_PREFIX}_parser
        ports:
            - "5000:5000"
        links:
            - influxdb
        restart: always
        env_file:
            - .env
        networks:
            - backend
            - frontend

networks:
    backend:
    frontend:
